<!DOCTYPE html>

<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->

<html>
    <head>
        <title>A Pirate's Radio</title>
        <meta charset=utf-8 />
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
        <script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" >
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <style>
            #page_name { font-family: 'Pacifico', cursive; font-size: 63px;
                         color: white; }

            #title {color: white;}

            #page_name:hover{text-decoration: none;} 

            body { margin:0; padding:0; 
                   background: url('static/lantern.jpg');
                   background-size: cover; }

            #map { height : 500px;}

            .entry { background: rgba(0,0,0,.5); padding-top: 1em;}

            .container {color: white;}

            #keyword form.form-inline {margin-bottom: 1em;}

            @media (min-width: 768px) {
                #keyword-query {position: relative; top: 9px;}}



        </style>
    </head>

    <body>
        <div id='title' class='container-fluid'>
            <h1><a href="/" id='page_name'>A Pirate's Radio</a></h1>
            <h2>inspired soundtracks for inspired journeys</h2>
        </div>

        <div class='container'>
            <div class='row'>

                <div id='map' class='col-xs-12 col-sm-7 col-sm-push-2'>Hi, I'm a map!</div>

                <div id='place' class='col-xs-12 col-sm-2 col-sm-pull-7 entry' >
                
                    <label>
                        <p>Where from?<input type="text" id="origin" placeholder="my current location"></p>
                        <p style="float: right"><a href="#" id="location_playlist_btn" data-toggle="tooltip" title="Make me a playlist based on my current location!"><i class="fa fa-globe fa-2x fa-pull-right fa-border" style="color: white;"></i></a>
                        </p>
                    </label>


                    <label><p>Where to?<input type="text" id="destination">
                    </p></label>
                        <span style ="float: right; margin-bottom: 1em;">
                            <a href="#" class="routing-btn" data-toggle="tooltip" data-routing="walking" title="Make me a playlist based on a walk!"><i class="fa fa-child fa-2x fa-border" style="color: white;"></i></a>
                            <a href="#" class="routing-btn" data-toggle="tooltip" data-routing="cycling" title="Make me a playlist based on a bikeride!"><i class="fa fa-bicycle fa-2x fa-border" style="color: white;"></i></a>
                            <a href="#" class="routing-btn" data-toggle="tooltip" data-routing="driving" title="Make me a playlist based on a drive!"><i class="fa fa-car fa-2x fa-border" style="color: white;"></i></a>
                        </span>

                    <!-- when one of these buttons is clicked, the map animates, playlist changes -->
                    
                    <!-- i want to add flash message: 'playlist added to your spotify account. enjoy the soundtrack for your journey!' -->
                    
                </div>

                <div id= 'keyword' class='col-xs-12 col-sm-3 entry'>
                    <label for="search_term">What's your inspiration? </label>
                    <form class="form-inline" style="margin-bottom: 2em;" action ='/create-keyword-playlist' method="POST">
                        <div class="form-group"> 
                            <input type="text" id="keyword-query" class="form-control" style="padding-bottom:0;" name="search_term">
                        </div>

                        <div class="form-group">
                        <button type="submit" class="form-control" data-toggle='tooltip' title='Make me a playlist with this theme!' style='background-color: transparent; box-shadow: none; border: none; margin-top:0;'><i class="fa fa-music fa-2x fa-border" style="color: white;"></i></button>
                        </div>
                    </form>

                    <!-- when user gets to page, it will display a default playlist
                    that will change to the playlist that user generates -->

                    {% if playlist_id %}
                        <iframe id='place-playlist' src="https://embed.spotify.com/?uri=spotify:user:{{user_id}}:playlist:{{playlist_id}}" width="270" height="380" frameborder="0" style="float: center; margin-bottom: 1em;" allowtransparency="true"></iframe>
                    {% else %}
                        <iframe id='place-playlist' src="https://embed.spotify.com/?uri=spotify:user:kellyannhiggins:playlist:25OiILy6Gp0Cg4DuuJ7cKy" width="270" height="380" frameborder="0" style="float: center; margin-bottom: 1em;" allowtransparency="true"></iframe>
                    {% endif %}

                </div>
            </div>
        </div>


        </body>

        <script>
        L.mapbox.accessToken = 'pk.eyJ1Ijoia2VsbHlhbm4iLCJhIjoiY2lvYmFqcnNlMDNwbnZ3bHpiZXlsYjVqbiJ9.0-hM3fi1TlEhf7pmXpfsrQ';

        // Hackbright
        var user_lat = 37.788681;
        var user_long = -122.411552;
        var directions = 'hello';

        // Dogpatch Studios
        // var user_lat = 37.7598324;
        // var user_long = -122.391481;

        var user_timestamp = Date.now();

        getLocation();

        var map = L.mapbox.map('map', 'kellyann.dcbde2d4')
            .setView([user_lat, user_long], 13);

        var geocoder = L.mapbox.geocoder('mapbox.places');

        var route = L.mapbox.featureLayer();
        var current_loc_marker = L.marker([user_lat, user_long]).addTo(route);
        route.addTo(map);

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(getCoordinates);
            } else {
                console.log("geolocation not found!");
            }
        }


        function getCoordinates(position) {
            user_lat = position.coords.latitude;
            user_lon = position.coords.longitude;
            user_timestamp = position.timestamp;
        }


        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });


        function makeLocationPlaylist(evt) {
            var origin = $('#origin').val();
            $.post('/create-location-playlist.json', {'user_long': user_long, 'user_lat': user_lat, 'origin': origin}, returnLocationPlaylist);
        }

        function returnLocationPlaylist(data) {
            var user_id = data.user_id;
            var playlist_id = data.playlist_id;
           var newsrc = "https://embed.spotify.com/?uri=spotify:user:"+ user_id +':playlist:' + playlist_id;
           $("#place-playlist").removeAttr('src');
           $("#place-playlist").attr('src', newsrc);
        }

        $('#location_playlist_btn').click(makeLocationPlaylist);



        function makeJourneyPlaylist(evt) {
            var origin = $('#origin').val();
            var destination = $('#destination').val();
            $.post('/create-journey-playlist.json', {'origin': origin, 'destination': destination, 'routing': $(this).data("routing")}, returnJourneyPlaylist)
        } 

        function returnJourneyPlaylist(data) {
               var user_id = data.user_id;
               var playlist_id = data.playlist_id;
               var origin_lat = data.origin_lat;
               var origin_long = data.origin_long;
               var destination_lat = data.destination_lat;
               var destination_long = data.destination_long;
               var origin_marker;
               var destination_marker;
               directions = data.directions;
               console.log(playlist_id);
               route.clearLayers();
               route = L.mapbox.featureLayer(directions.routes[0].geometry);
               map.fitBounds(route);
               origin_marker = L.marker([origin_lat, origin_long]).addTo(route);
               destination_marker = L.marker([destination_lat, destination_long]).addTo(route);
               route.addTo(map);
               var newsrc = "https://embed.spotify.com/?uri=spotify:user:"+ user_id +':playlist:' + playlist_id;
               $("#place-playlist").removeAttr('src');
               $("#place-playlist").attr('src', newsrc);
        }

        function waitingForPlaylist () {$('.routing-btn').click(makeJourneyPlaylist);
        };

        $(document).ready(waitingForPlaylist);


         </script>
       
</html>
