<!DOCTYPE html>
<html>

    <head>
        <title>Muse</title>
    </head>

    <body>
        <form action ='/create-playlist' method="POST">
            <label>What would you like to hear about? <input type="text" name="search_term">
            </label>
            <input type="submit" value="Find me songs with this theme!">
        </form>
<!-- Could make an if loop here, when user gets to page, it will display some default playlist
based on some dynamic variable - weather, news headline keywords, etc -->
        <iframe src="https://embed.spotify.com/?uri=spotify:user:kellyannhiggins:playlist:25OiILy6Gp0Cg4DuuJ7cKy" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>


        {% if playlist_id %}
            <iframe src="https://embed.spotify.com/?uri=spotify:user:{{user_id}}:playlist:{{playlist_id}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        {% endif %}

        
    </body>

</html>